<?xml version="1.0"?>
<config>
    <modules>
        <Bluecore_Integration>
            <version>0.0.1</version>
        </Bluecore_Integration>
    </modules>
    <global>
        <helpers>
            <bluecore>
                <class>Bluecore_Integration_Helper</class>
            </bluecore>
        </helpers>
        <models>
            <bluecore>
                <class>Bluecore_Integration_Model</class>
            </bluecore>
        </models>
        <blocks>
            <bluecore>
                <class>Bluecore_Integration_Block</class>
            </bluecore>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <bluecore>
                    <file>bluecore.xml</file>
                </bluecore>
            </updates>
        </layout>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <bluecore_add_to_cart>
                        <class>Bluecore_Integration_Model_Observer</class>
                        <method>setAddToCartProductId</method>
                    </bluecore_add_to_cart>
                </observers>
            </checkout_cart_add_product_complete>
            <controller_action_predispatch_checkout_cart_delete>
                <observers>
                    <bluecore_add_to_cart>
                        <class>Bluecore_Integration_Model_Observer</class>
                        <method>setRemoveFromCartProductId</method>
                    </bluecore_add_to_cart>
                </observers>
            </controller_action_predispatch_checkout_cart_delete>
            <controller_action_predispatch_checkout_cart_ajaxDelete>
                <observers>
                    <bluecore_ajax_remove_from_cart>
                        <class>Bluecore_Integration_Model_Observer</class>
                        <method>setRemoveFromCartProductId</method>
                    </bluecore_ajax_remove_from_cart>
                </observers>
            </controller_action_predispatch_checkout_cart_ajaxDelete>
            <wishlist_add_product>
                <observers>
                    <bluecore_add_to_wishlist>
                        <class>Bluecore_Integration_Model_Observer</class>
                        <method>setWishlistProductId</method>
                    </bluecore_add_to_wishlist>
                </observers>
            </wishlist_add_product>
            <controller_action_postdispatch_newsletter_subscriber_new>
                <observers>
                    <bluecore_newsletter_subscribe>
                        <class>Bluecore_Integration_Model_Observer</class>
                        <method>newSubscriptionIdentify</method>
                    </bluecore_newsletter_subscribe>
                </observers>
            </controller_action_postdispatch_newsletter_subscriber_new>
            <customer_login>
                <observers>
                    <bluecore_login_identify>
                        <class>Bluecore_Integration_Model_Observer</class>
                        <method>loginIdentify</method>
                    </bluecore_login_identify>
                </observers>
            </customer_login>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bluecore_Integration after="Mage_Adminhtml">Bluecore_Integration</Bluecore_Integration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bluecore>
                                            <title>Bluecore Settings</title>
                                        </bluecore>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
